@font-face {
   font-family: 'Abel';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/_PORTABLE/HTML/_djinn.two/fonts/Abel/regular.ttf') format('truetype');
}
